<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Angular.berlin.js by marcin-wosinek</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Angular.berlin.js</h1>
        <p>Materials for angularJs presentation for berlin.js</p>

        <p class="view"><a href="https://github.com/marcin-wosinek/angular.berlin.js">View the Project on GitHub <small>marcin-wosinek/angular.berlin.js</small></a></p>


        <ul>
          <li><a href="https://github.com/marcin-wosinek/angular.berlin.js/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/marcin-wosinek/angular.berlin.js/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/marcin-wosinek/angular.berlin.js">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        <h3>AngularJs</h3>

<h2>apps.berlin.js 28 II February 2013</h2>

<h3>Who am I?</h3>

<ul>
<li>Marcin Wosinak</li>
<li>5 years experience in IT

<ul>
<li>WebDev: Javascript</li>
<li>C# dev: UnitTests</li>
</ul>
</li>
<li>Currently js contractor in Poznań, Poland</li>
</ul><h3>What is AngularJs</h3>

<ul>
<li>Who was already working with angular?</li>
<li>Who likes having unit tests?</li>
<li>Who is using yeoman?</li>
<li>Who is going to ask questions?</li>
</ul><h3>What is AngularJs</h3>

<ul>
<li>it's application framework</li>
<li>it's 29KB compressed and minified

<ul>
<li>backbone is 19KB (with underscore &amp; backbone)</li>
<li>backbone is 32KB (with lodash &amp; jQuery)</li>
<li>ember is 49KB</li>
</ul>
</li>
<li>no dependencies:

<ul>
<li>can use jQuery if available on loadtime</li>
</ul>
</li>
</ul><h3>AngularJs Overview</h3>

<ul>
<li>MVVM <a href="https://plus.google.com/+AngularJS/posts/aZNVhj355G2" title="G+">G+</a>
</li>
<li>Plain js object</li>
<li>Dependency injection</li>
<li>TESTABILITY!</li>
<li>Directives</li>
<li>Declarative programming</li>
</ul><h3>MVVM architecture</h3>

<ul>
<li>plain js models</li>
<li>dirty checking - but object.observer is comming</li>
</ul><h3>Dependency injection</h3>

<ul>
<li>increase testablity</li>
<li>nice sumarize interconnections between parts of aplication</li>
</ul><h3>Directives</h3>

<ul>
<li>tools to teach html new tricks

<ul>
<li>binding controller</li>
<li>loops</li>
<li>binding models</li>
</ul>
</li>
<li>or bing back old ones</li>
<li>No dom manipulation in controler</li>
</ul><h3>Declarative programming</h3>

<ul>
<li>What we have in html, css now is in js as well</li>
</ul><h3>TESABILITY!</h3>

<ul>
<li>Dependency injection</li>
<li>Directives</li>
<li>simple plain old js objects as models</li>
</ul><h3>Doubt</h3>

<ul>
<li>for some even deal breakers</li>
</ul><h3>html validator are going to hate it</h3>

<ul>
<li>those tags are invalide
<code>html
&lt;tabs&gt;
&lt;pane title="Localization"&gt;
</code>
</li>
<li>those atributs are invalide
<code>html
&lt;li ng-repeat="todo in todos"&gt;
&lt;input type="text" ng-model="todoText" /&gt;
</code>
</li>
<li>and this little guy was purpouse fully removed from html
<code>html
&lt;blink&gt;&lt;/blink&gt;
</code>
</li>
</ul><h3>Back to 90's?</h3>

<ul>
<li>angular uses proprietery tags, allow us to create own, and expect us to write stuff like this:
<code>html
&lt;form ng-submit="addTodo()"&gt;
&lt;button ng-click="fireAlert()"&gt;
</code>
</li>
</ul><h3>No - it's our future</h3>

<ul>
<li>web components</li>
<li>shadow dom </li>
</ul><p>Will be native apis. Now we can get some of benefits with angular.
All is safly separeted into scopes.</p>

<h3>Yeoman</h3>

<ul>
<li>CLI</li>
<li>cool tool to creating code</li>
<li>push changes form server to broswer - no refreshing</li>
</ul><h3>Switching to AngularJs</h3>

<ul>
<li>Is possible:)</li>
<li>Goes well allong with jquery</li>
<li>There is a project to rewrite bootstrap js to angular directives <a href="http://angular-ui.github.com/bootstrap/" title="angular-ui-bootstrap">angular-ui-bootstrap</a>
</li>
<li>They say it is possible to use it along with require.js <a href="https://github.com/elsom25/angular-requirejs-html5boilerplate-seed" title="angular-require-js">angular-require-js</a>
</li>
</ul><h3>How to catch me</h3>

<ul>
<li><a href="mailto:marcin.wosinek@gmail.com">marcin.wosinek@gmail.com</a></li>
<li>#marcin.wosinek</li>
<li>write up and links:</li>
<li><a href="http://marcin-wosinek.github.com/angular.berlin.js">http://marcin-wosinek.github.com/angular.berlin.js</a></li>
</ul>
      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/marcin-wosinek">marcin-wosinek</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>