<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Angular.berlin.js by marcin-wosinek</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Angular.berlin.js</h1>
        <p>Materials for angularJs presentation for berlin.js</p>

        <p class="view"><a href="https://github.com/marcin-wosinek/angular.berlin.js">View the Project on GitHub <small>marcin-wosinek/angular.berlin.js</small></a></p>


        <ul>
          <li><a href="https://github.com/marcin-wosinek/angular.berlin.js/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/marcin-wosinek/angular.berlin.js/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/marcin-wosinek/angular.berlin.js">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        <h3>AngularJs</h3>

<h2>apps.berlin.js 28 II February 2013</h2>

<h3>Who am I?</h3>

<ul>
<li>Marcin Wosinak</li>
<li>5 years experience in IT

<ul>
<li>WebDev: Javascript</li>
<li>C# dev: UnitTests</li>
</ul>
</li>
<li>Currently js contractor in Poznań, Poland</li>
</ul><h3>Who are you?</h3>

<ul>
<li>Who was already working with angular?</li>
<li>Who likes having unit tests?</li>
<li>Who is using yeoman?</li>
<li>Who is going to ask questions?</li>
</ul><h3>What is AngularJs</h3>

<ul>
<li>it's application framework</li>
<li>it's 29KB compressed and minified

<ul>
<li>backbone is 19KB (with underscore &amp; backbone)</li>
<li>backbone is 32KB (with lodash &amp; jQuery)</li>
<li>ember is 49KB</li>
</ul>
</li>
<li>no dependencies:

<ul>
<li>can use jQuery if available on loadtime</li>
</ul>
</li>
</ul><h3>AngularJs Overview</h3>

<ul>
<li>MVVM <a href="https://plus.google.com/+AngularJS/posts/aZNVhj355G2" title="G+">G+</a>
</li>
<li>Plain js object</li>
<li>Dependency injection</li>
<li>TESTABILITY!</li>
<li>Directives</li>
<li>Declarative programming</li>
</ul><h3>MVVM architecture</h3>

<ul>
<li>plain js models</li>
<li>dirty checking - but object.observer is comming</li>
</ul><div class="highlight"><pre><span class="kd">function</span> <span class="nx">TodoCtrl</span><span class="p">(</span><span class="nx">$scope</span><span class="p">,</span> <span class="nx">$log</span><span class="p">)</span> <span class="p">{</span>
  <span class="c1">// use console log</span>
  <span class="nx">$log</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s1">'Test'</span><span class="p">);</span>

  <span class="nx">$scope</span><span class="p">.</span><span class="nx">addTodo</span> <span class="o">=</span> <span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
    <span class="nx">$scope</span><span class="p">.</span><span class="nx">todos</span><span class="p">.</span><span class="nx">push</span><span class="p">({</span><span class="nx">text</span><span class="o">:</span><span class="nx">$scope</span><span class="p">.</span><span class="nx">todoText</span><span class="p">,</span> <span class="nx">done</span><span class="o">:</span><span class="kc">false</span><span class="p">});</span>
    <span class="nx">$scope</span><span class="p">.</span><span class="nx">todoText</span> <span class="o">=</span> <span class="s1">''</span><span class="p">;</span>
  <span class="p">};</span>

  <span class="nx">$scope</span><span class="p">.</span><span class="nx">remaining</span> <span class="o">=</span> <span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
    <span class="kd">var</span> <span class="nx">count</span> <span class="o">=</span> <span class="mi">0</span><span class="p">;</span>
    <span class="nx">angular</span><span class="p">.</span><span class="nx">forEach</span><span class="p">(</span><span class="nx">$scope</span><span class="p">.</span><span class="nx">todos</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">todo</span><span class="p">)</span> <span class="p">{</span>
      <span class="nx">count</span> <span class="o">+=</span> <span class="nx">todo</span><span class="p">.</span><span class="nx">done</span> <span class="o">?</span> <span class="mi">0</span> <span class="o">:</span> <span class="mi">1</span><span class="p">;</span>
    <span class="p">});</span>
    <span class="k">return</span> <span class="nx">count</span><span class="p">;</span>
  <span class="p">};</span>

  <span class="nx">$scope</span><span class="p">.</span><span class="nx">archive</span> <span class="o">=</span> <span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
    <span class="kd">var</span> <span class="nx">oldTodos</span> <span class="o">=</span> <span class="nx">$scope</span><span class="p">.</span><span class="nx">todos</span><span class="p">;</span>
    <span class="nx">$scope</span><span class="p">.</span><span class="nx">todos</span> <span class="o">=</span> <span class="p">[];</span>
    <span class="nx">angular</span><span class="p">.</span><span class="nx">forEach</span><span class="p">(</span><span class="nx">oldTodos</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">todo</span><span class="p">)</span> <span class="p">{</span>
      <span class="k">if</span> <span class="p">(</span><span class="o">!</span><span class="nx">todo</span><span class="p">.</span><span class="nx">done</span><span class="p">)</span> <span class="nx">$scope</span><span class="p">.</span><span class="nx">todos</span><span class="p">.</span><span class="nx">push</span><span class="p">(</span><span class="nx">todo</span><span class="p">);</span>
    <span class="p">});</span>
  <span class="p">};</span>
<span class="p">}</span>
</pre></div>

<h3>Dependency injection</h3>

<ul>
<li>increase testablity</li>
<li>nice sumarize interconnections between parts of aplication</li>
</ul><div class="highlight"><pre><span class="nx">$scope</span><span class="p">;</span> <span class="c1">// view model</span>
<span class="nx">$log</span><span class="p">;</span> <span class="c1">// console: ie friendly</span>
<span class="nx">$window</span><span class="p">;</span> <span class="c1">// testable window counter part</span>
<span class="nx">$http</span><span class="p">;</span> <span class="c1">// http requests</span>
<span class="c1">// and all our services</span>
</pre></div>

<h3>Directives</h3>

<ul>
<li>tools to teach html new tricks

<ul>
<li>binding controller</li>
</ul>
</li>
</ul><div class="highlight"><pre><span class="nt">&lt;div</span> <span class="na">ng-controller=</span><span class="s">"ProductCtrl"</span><span class="nt">&gt;</span>
</pre></div>

<ul>
<li>loops</li>
</ul><div class="highlight"><pre><span class="nt">&lt;ul&gt;</span>
  <span class="nt">&lt;li</span> <span class="na">ng-repeat=</span><span class="s">"friend in friends"</span><span class="nt">&gt;</span>
    [{{$index + 1}}] {{friend.name}} who is {{friend.age}} yrs old.
 <span class="nt">&lt;/li&gt;</span>
<span class="nt">&lt;/ul&gt;</span>
</pre></div>

<ul>
<li>binding models</li>
</ul><div class="highlight"><pre><span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"checkbox"</span> <span class="na">ng-model=</span><span class="s">"confirmed"</span> <span class="na">ng-change=</span><span class="s">"change()"</span>
</pre></div>

<ul>
<li>or bing back old ones</li>
</ul><div class="highlight"><pre><span class="nt">&lt;blink&gt;</span>Click me<span class="nt">&lt;/blink&gt;</span>
</pre></div>

<ul>
<li>No dom manipulation in controler!</li>
</ul><h3>Declarative programming</h3>

<ul>
<li>What we have in html, css now is in js as well</li>
<li>html: want paragraph?</li>
</ul><div class="highlight"><pre><span class="nt">&lt;p&gt;</span>Text<span class="nt">&lt;/p&gt;</span>
</pre></div>

<ul>
<li>css: want it red?</li>
</ul><div class="highlight"><pre><span class="nt">p</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="nb">red</span><span class="p">}</span>
</pre></div>

<ul>
<li>js: what it bind to model - we are writing in pure html</li>
</ul><div class="highlight"><pre><span class="nt">&lt;p&gt;</span>{{modelData}}<span class="nt">&lt;/p&gt;</span>
</pre></div>

<h3>TESABILITY!</h3>

<ul>
<li>Dependency injection</li>
<li>Directives</li>
<li>simple plain old js objects as models</li>
</ul><div class="highlight"><pre><span class="c1">//Code:</span>
<span class="kd">function</span> <span class="nx">PasswordCtrl</span><span class="p">(</span><span class="nx">$scope</span><span class="p">)</span> <span class="p">{</span>
 <span class="err"> </span><span class="nx">$scope</span><span class="p">.</span><span class="nx">password</span> <span class="o">=</span> <span class="s1">''</span><span class="p">;</span>
 <span class="err"> </span><span class="nx">$scope</span><span class="p">.</span><span class="nx">grade</span> <span class="o">=</span> <span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
 <span class="err">   </span><span class="kd">var</span> <span class="nx">size</span> <span class="o">=</span> <span class="nx">$scope</span><span class="p">.</span><span class="nx">password</span><span class="p">.</span><span class="nx">length</span><span class="p">;</span>
 <span class="err">   </span><span class="k">if</span> <span class="p">(</span><span class="nx">size</span> <span class="o">&gt;</span> <span class="mi">8</span><span class="p">)</span> <span class="p">{</span>
 <span class="err">     </span><span class="nx">$scope</span><span class="p">.</span><span class="nx">strength</span> <span class="o">=</span> <span class="s1">'strong'</span><span class="p">;</span>
 <span class="err">   </span><span class="p">}</span>
    <span class="k">else</span> <span class="k">if</span> <span class="p">(</span><span class="nx">size</span> <span class="o">&gt;</span> <span class="mi">3</span><span class="p">)</span> <span class="p">{</span>
   <span class="err">   </span><span class="nx">$scope</span><span class="p">.</span><span class="nx">strength</span> <span class="o">=</span> <span class="s1">'medium'</span><span class="p">;</span>
   <span class="err"> </span><span class="p">}</span>
    <span class="k">else</span> <span class="p">{</span>
     <span class="err"> </span><span class="nx">$scope</span><span class="p">.</span><span class="nx">strength</span> <span class="o">=</span> <span class="s1">'weak'</span><span class="p">;</span>
   <span class="err"> </span><span class="p">}</span>
  <span class="p">};</span>
<span class="p">}</span>

<span class="c1">// test:</span>
<span class="kd">var</span> <span class="nx">scope</span> <span class="o">=</span> <span class="p">{};</span>

<span class="kd">var</span> <span class="nx">pc</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">PasswordCtrl</span><span class="p">(</span><span class="nx">scope</span><span class="p">);</span>
<span class="nx">pc</span><span class="p">.</span><span class="nx">password</span><span class="p">(</span><span class="s1">'abc'</span><span class="p">);</span>
<span class="nx">pc</span><span class="p">.</span><span class="nx">grade</span><span class="p">();</span>
<span class="nx">expect</span><span class="p">(</span><span class="nx">scope</span><span class="p">.</span><span class="nx">strength</span><span class="p">).</span><span class="nx">toEqual</span><span class="p">(</span><span class="s1">'weak'</span><span class="p">);</span>
</pre></div>

<h3>Doubt</h3>

<ul>
<li>for some even deal breakers</li>
</ul><h3>html validator are going to hate it</h3>

<ul>
<li>those tags are invalide</li>
</ul><div class="highlight"><pre><span class="nt">&lt;tabs&gt;</span>
   <span class="nt">&lt;pane</span> <span class="na">title=</span><span class="s">"Localization"</span><span class="nt">&gt;</span>
</pre></div>

<ul>
<li>those atributs are invalide</li>
</ul><div class="highlight"><pre><span class="nt">&lt;li</span> <span class="na">ng-repeat=</span><span class="s">"todo in todos"</span><span class="nt">&gt;</span>
<span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">ng-model=</span><span class="s">"todoText"</span> <span class="nt">/&gt;</span>
</pre></div>

<ul>
<li>and this little guy was purpouse fully removed from html</li>
</ul><div class="highlight"><pre><span class="nt">&lt;blink&gt;</span>CLICK ME!<span class="nt">&lt;/blink&gt;</span>
</pre></div>

<h3>Back to 90's?</h3>

<ul>
<li>angular uses proprietery tags, allow us to create own, and expect us to write stuff like this:</li>
</ul><div class="highlight"><pre><span class="nt">&lt;form</span> <span class="na">ng-submit=</span><span class="s">"addTodo()"</span><span class="nt">&gt;</span>
<span class="nt">&lt;button</span> <span class="na">ng-click=</span><span class="s">"fireAlert()"</span><span class="nt">&gt;</span>
</pre></div>

<h3>No - it's our future</h3>

<ul>
<li>web components</li>
<li>shadow dom </li>
</ul><p>Will be native apis. Now we can get some of benefits with angular.
All is safly separeted into scopes.</p>

<h3>Shadow DOM</h3>

<ul>
<li>Used by browsers internally to create controls</li>
<li>Will expose the same featres to web devs</li>
<li>In working draft <a href="http://www.w3.org/TR/shadow-dom/">http://www.w3.org/TR/shadow-dom/</a>
</li>
<li>Nice overview <a href="http://www.html5rocks.com/en/tutorials/webcomponents/shadowdom/">http://www.html5rocks.com/en/tutorials/webcomponents/shadowdom/</a> </li>
</ul><h3>Yeoman</h3>

<ul>
<li>CLI</li>
<li>cool tool to creating code</li>
<li>push changes form server to broswer - no refreshing</li>
</ul><h3>How to start with angular?</h3>

<ul>
<li>Is possible to use in legacy projects</li>
<li>Goes well allong with jquery</li>
<li>There is a project to rewrite bootstrap js to angular directives <a href="http://angular-ui.github.com/bootstrap/" title="angular-ui-bootstrap">angular-ui-bootstrap</a>
</li>
<li>They say it is possible to use it along with require.js <a href="https://github.com/elsom25/angular-requirejs-html5boilerplate-seed" title="angular-require-js">angular-require-js</a>
</li>
</ul><h3>How to catch me</h3>

<ul>
<li><a href="mailto:marcin.wosinek@gmail.com">marcin.wosinek@gmail.com</a></li>
<li>#marcin.wosinek</li>
<li>write up and links:</li>
<li><a href="http://marcin-wosinek.github.com/angular.berlin.js">http://marcin-wosinek.github.com/angular.berlin.js</a></li>
</ul>
      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/marcin-wosinek">marcin-wosinek</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>